.details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.image {
    width: 200px;
    height: 200px;
}