* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    background: rgb(111, 173, 213);
    background: linear-gradient(90deg, rgba(111, 173, 213, 1) 0%, rgba(123, 42, 204, 1) 100%, rgba(0, 212, 255, 1) 100%);
}